/*------------------------------------
  Customized Header
------------------------------------*/
.navItem {
  border-bottom: 3px solid transparent;
}

.active {
  border-bottom-color: #e14923;
}

.navItem .navLink {
  color: #112336;
  font-size: 0.95rem;
}

.navbarBrand,
.navbarBrand > img {
  width: 10rem;
}
