.openings {
  text-align: center;
  color: #112336;
  text-transform: uppercase;
  opacity: 0.53;
  font-size: 13px;
}

.joinUs {
  text-align: center;
  color: #112336;
  font-size: 13px;
  align-self: center;
}

.openingButton {
  background: #e14923 !important;
  border-width: 0px;
  width: 200px;
  height: 40px;
  margin-bottom: 75px;
  font-size: 13px;
  padding: 0px;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .openings {
    font-size: 15px;
  }
  .joinUs {
    font-size: 25px;
  }
}
